.uk-layui-form
    form.layui-form.uk-form(action='/admin/sysdic/save.html')
        .layui-form-item
            label.layui-form-label 名称：
            .layui-input-inline
                input.layui-input(type='text', name='name', required, lay-verify='required', placeholder='请输入名称', autocomplete='off')
        .layui-form-item
            label.layui-form-label 代码：
            .layui-input-inline
                input.layui-input(type='text', name='code', required, lay-verify='required', placeholder='请输入代码', autocomplete='off')
        .layui-form-item
            label.layui-form-label 类型：
            .layui-input-inline
                select(name='ctype', lay-verify)
                    option(value='data') 数据字典
                    option(value='auth') 权限字典
                    option(value='resu') 系统资源
        .layui-form-item
            label.layui-form-label 说明：
            .layui-input-inline
                textarea.layui-textarea(name='description', placeholder='请输入')
        .layui-form-button
            .layui-button-block
                button.layui-btn(lay-submit, lay-filter='formDemo') 立即提交
                button.layui-btn.layui-btn-original(type='reset') 重置
script.
    layui.use('form', function(){
      var form = layui.form();
      form.render(); //更新全部
      form.verify({
          repass: function(value){
            if(value != $('#password').val()){
              return '两次输入的密码不一致，请确认';
            }
          }
        });
    });
            
