export SERVER_PORT=8035
export SERVER_LOG_PATH=$baseDir/../logs
# Log Level: INFO, DEBUG, ERROR, STDOUT
export SERVER_LOG_LEVEL=INFO
export WEB_UPLOAD_PATH=$baseDir/../data
export SPRING_FREEMARKER_CACHE=false
export SPRING_DATA_ELASTICSEARCH_PROPERTIES_PATH_DATA=$baseDir/../data
export UK_IM_SERVER_PORT=8036
export UK_IM_SERVER_HOST=localhost
export UK_IM_SERVER_THREADS=10
export SPRING_DATASOURCE_TYPE=com.alibaba.druid.pool.DruidDataSource
export SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.jdbc.Driver
export SPRING_DATASOURCE_URL=jdbc:mysql://localhost:8889/ukefu-test?useUnicode=true&characterEncoding=UTF-8
export SPRING_DATASOURCE_USERNAME=root
export SPRING_DATASOURCE_PASSWORD=root
export MANAGEMENT_SECURITY_ENABLED=false
export SPRING_REDIS_DATABASE=2
export SPRING_REDIS_HOST=redis
export SPRING_REDIS_PORT=6379
