<table class="layui-table" lay-skin="line" style="table-layout: fixed; word-break: break-all;">
	<colgroup>
		<col width="3%">
		<col width="20%">
		<col width="20%">
		<col width="15%">
		<col width="15%">
	</colgroup>
    <thead>
	<tr>
	    <th></th>
	    <th>坐席</th>
	    <th>登陆时间</th>
	    <th>最大用户数</th>
	    <th>服务用户数</th>
	</tr>
    </thead>
    <tbody>
	<#if userList?? && currentorgan??>
	    <#list userList as agent>
		<#if agent.skills[currentorgan]??>
		<tr class="ukefu-agentstatus">
		    <td style="width:1px;padding:10px 0px 10px 10px;">
				<input class="agentnoradio" type="radio" name="agentno" class="ctxid" value="${agent.id!''}" onclick="selectAgentnoWithRadioClick(this)" id="user_${agent.id}" style="display:block;">
		    </td>
		    <td title="${agent.username!''}（${agent.uname!''}" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">${agent.username!''}（${agent.uname!''}）</td>
		    <td><#if agent.agentStatus??>${agent.agentStatus.logindate?string('yyyy-MM-dd HH:mm:ss')}</#if></td>
		    <td>
			<#if agent.agentStatus??>${agent.agentStatus.maxusers!0}</#if>
		    </td>
		    <td>
			<#if agent.agentStatus??>${agent.agentStatus.users!0}</#if>
		    </td>
		</tr>
		</#if>
		    
	    </#list>
	</#if>
    </tbody>
</table>
<script>

	$(".agentnoradio").onclick=function (e) {
		return false;
	}

	function selectAgentnoWithRadioClick(radiovalue) {
		radiovalue.parentNode.click();
	}
</script>
