//- Copyright (C) 2018-2022 Chatopera Inc, <https://www.chatopera.com>
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-  http://www.apache.org/licenses/LICENSE-2.0
//- 
//-  Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//-  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
ul.layui-nav.layui-nav-tree(lay-filter="setting")
    li.layui-nav-item.layui-nav-itemed
        if user.roleAuthMap["A03_A01"] || user.admin
            a.layui-nav-title(href="javascript:;") 全部客户
        dl.layui-nav-child
            if user.roleAuthMap["A03_A01_A01"] || user.admin
                dd(class={'layui-this': !ekind})
                    a(href="/apps/customer/index.html") 全部客户
            if user.roleAuthMap["A03_A01_A02"] || user.admin
                for dic in uKeFuDic['com.dic.contacts.entype']
                    dd(class={'layui-this': ekind && ekind == dic.id})
                        a(href="/apps/customer/" + (subtype ? subtype : 'index') + ".html?ekind=" + dic.id + (q ? '&q=' + q : ''))= dic.name
