# https://github.com/cskefu/cskefu/issues/758

# defaults
*       @cskefu/reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @lecjy
*.ts    @lecjy
*.pug   @lecjy
*.java  @lecjy
*.sql   @lecjy
pom.xml @lecjy

docs/*  @SAMZONG
README* @SAMZONG