absl-py==0.9.0
aiofiles==0.4.0
aiohttp==3.6.2
APScheduler==3.6.3
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
bleach==1.5.0
boto3==1.12.36
botocore==1.15.36
cachetools==4.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.3
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
contextvars==2.4
cryptography==2.9
cycler==0.10.0
decorator==4.4.2
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
enum34==1.1.10
fbmessenger==6.0.0
Flask==1.1.2
future==0.18.2
gast==0.2.2
gevent==1.4.0
google-auth==1.13.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.28.1
h11==0.8.1
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.3.31
html5lib==0.9999999
httplib2==0.17.1
httptools==0.1.1
httpx==0.9.3
humanfriendly==8.1
hyperframe==5.2.0
idna==2.8
idna-ssl==1.1.0
immutables==0.11
importlib-metadata==1.6.0
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.11.1
jmespath==0.9.4
joblib==0.14.1
jsonpickle==1.3
jsonschema==3.2.0
kafka-python==1.4.7
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mattermostwrapper==2.1
mitie==0.7.0
multidict==4.7.5
networkx==2.4
numpy==1.18.2
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.2.0
packaging==19.0
pika==1.1.0
prompt-toolkit==2.0.10
protobuf==3.11.3
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pydot==1.4.1
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.8.0
pyparsing==2.4.6
pyreadline==2.1
pyrsistent==0.16.0
PySocks==1.7.1
python-crfsuite==0.9.6
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
python-telegram-bot==11.1.0
pytz==2019.3
PyYAML==5.3.1
questionary==1.5.1
rasa==1.9.5
rasa-sdk==1.9.0
redis==3.4.1
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.3.2
rocketchat-API==0.6.36
rsa==4.0
ruamel.yaml==0.15.100
s3transfer==0.3.3
sanic==19.12.2
Sanic-Cors==0.10.0.post3
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.9.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn-crfsuite==0.3.6
slack==0.0.2
slackclient==2.5.0
sniffio==1.1.0
SQLAlchemy==1.3.15
tabulate==0.8.7
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-addons==0.8.3
tensorflow-estimator==2.1.0
tensorflow-hub==0.7.0
tensorflow-probability==0.7.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminaltables==3.1.0
tqdm==4.31.1
twilio==6.26.3
typeguard==2.7.1
typing-extensions==3.7.4.2
tzlocal==2.0.0
ujson==1.35
urllib3==1.25.8
wcwidth==0.1.9
webexteamssdk==1.1.1
websocket-client==0.54.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.4.2
zipp==3.1.0
