script(src='/js/utils.js')
script(src='/js/CSKeFu_Rest_Request.v1.js')
h1.site-h1(style='border-top:1px solid #e6e6e6;')
    | 列表

if size(chatbots) > 0
    ul.layui-nav.layui-nav-tree(lay-filter='chatbots-nav-tree')
        li.layui-nav-item.layui-nav-itemed
            dl.layui-nav-child
                for chatbot in chatbots
                    dd(style="text-align: center;border-bottom:thin solid #F5F5F5; list-style: none;", class=(chatbot.id == currentbotid?"layui-this":"") )
                        a(href="/admin/system/chatbot/index.html?chatbotid=" + chatbot.id)= chatbot.name
else
    .ukefu-empty(style='background: none')
        i.layui-icon &#xe63a;
        div 还没有集成智能机器人
