# dev profile
src/main/resources/application-dev.properties

# ignore plugins: app views, classes
src/main/resources/templates/apps/callout
src/main/resources/templates/apps/callcenter
src/main/java/com/cskefu/cc/plugins/botplt

# ignore logs
logs/
data/
