doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title 在线咨询
        link(rel="stylesheet", href="/css/layui.css")
        link#skin(rel="stylesheet", type="text/css", href="/css/entim.css")
        link(rel="stylesheet", type="text/css", href="/im/js/kindeditor/themes/default/default.css")
        script(type="text/javascript", src="/im/js/kindeditor/kindeditor-min.js")
        script(type="text/javascript", src="/im/js/kindeditor/lang/zh-CN.js")
        script(src="/js/jquery-1.10.2.min.js")
        script(src="/layui.js")
        script(src="/im/js/socket.io.js")
        script(src="/js/cskefu.js")
    body(style="overflow:hidden;background-size: contain;")
        .large
            block content