<div class="uk-layui-form">
	<form class="layui-form uk-form" action="/admin/skill/update.html">
	  <input type="hidden" name="id" value="${skillData.id!''}">
	  <div class="layui-form-item">
	    <label class="layui-form-label">技能组：</label>
	    <div class="layui-input-inline">
	      <input type="text" name="name" required lay-verify="required" value="${skillData.name!''}" placeholder="请输入技能组名称" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  <div class="layui-form-button">
	    <div class="layui-button-block">
	      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
	  </div>
	</form>
</div>
 
<script>
//Demo
layui.use('form', function(){
  var form = layui.form();
  form.render(); //更新全部
});
</script>