<div class="uk-layui-form">
	<form class="layui-form uk-form" action="/admin/organ/saveuser.html">
		<input type="hidden" name="organ" value="${organ.id!''}">
		<div class="layui-form-item">
			<div class="layui-input-inline">
				<select multiple = "multiple" name="users" class="ukefu-form-multiple">
					<#if userList??>
					<#list userList as curruser>
						<option value="${curruser.id}" <#if curruser.organ?? && curruser.organ == organ.id>selected="selected"</#if>>${curruser.username!''}（${curruser.uname!''}）</option>
					</#list>
					</#if>
				</select>
			</div>
		</div>
		<div class="layui-form-button">
			<div class="layui-button-block">
				<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
