<div class="layui-header cskefu-cca-header">
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <form class="layui-form" name="search"	action="/apps/cca/index.html" method="get" style="float: left;margin-right:5px;">
        <div class="layui-form-item">
            <div class="layui-inline" style="margin-right:0px;">
                <div class="layui-input-inline" style="width: auto;margin-right:0px;">
                    <label class="layui-form-label" style="width: auto;">技能组：</label>
                    <div class="layui-input-inline" style="width: auto;margin-right:0px;">
                        <select name="skill" class="ukefu-input" lay-ignore>
                            <option value="">所有技能组</option>
                            <#if skillGroups??>
                            <#list skillGroups as tpskill>
                                <option value="${tpskill.id}" <#if skill?? && skill == tpskill.id>selected="selected"</#if>>${tpskill.name!''}</option>
                            </#list>
                            </#if>
                        </select>
                    </div>
                </div>
                <div class="layui-input-inline" style="width: auto;margin-right:0px;">
                    <label class="layui-form-label" style="width: auto;">坐席：${agentskill!''}</label>
                    <div class="layui-input-inline" style="width: auto;margin-right:0px;">
                        <select name="agentno" class="ukefu-input" lay-ignore>
                            <option value="">所有坐席</option>
                            <#if agentList??>
                            <#list agentList as useragent>
                                <option value="${useragent.id}" <#if agentno?? && agentno == useragent.id>selected="selected"</#if>>${useragent.uname!''}</option>
                            </#list>
                            </#if>
                        </select>
                    </div>
                </div>
                <div class="layui-input-inline" style="width: auto;margin-right:0px;">
                    <div class="layui-input-inline" style="width: auto;margin-right:0px;margin-left: 5px;top:3px;">
                        <button class="layui-btn layui-btn-small layui-btn-primary" style="color:#ffffff;">
                            <i class="layui-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
