//- Copyright (C) 2023 Beijing Huaxia Chunsong Technology Co., Ltd. 
//- <https://www.chatopera.com>, Licensed under the Chunsong Public 
//- License, Version 1.0  (the "License"), https://docs.cskefu.com/licenses/v1.html
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//- Copyright (C) 2018-Jun. 2023 Chatopera Inc, <https://www.chatopera.com>
//- Licensed under the Apache License, Version 2.0
//- http://www.apache.org/licenses/LICENSE-2.0
ul.layui-nav.layui-nav-tree(lay-filter='setting')
    li.layui-nav-item.layui-nav-itemed
        if user.roleAuthMap["A02_A01"] || user.admin
            a.layui-nav-title(href="javascript:;") 联系人
            dl.layui-nav-child
                if user.roleAuthMap["A02_A01_A01"] || user.admin
                    dd(class={'layui-this': !ckind})
                        a(href="/apps/contacts/index.html") 全部联系人
                if user.roleAuthMap["A02_A01_A02"] || user.admin
                    if uKeFuDic['com.dic.contacts.ckind']
                        for dic in uKeFuDic['com.dic.contacts.ckind']
                            dd(class={'layui-this': ckind && ckind == dic.id})
                                a(href="/apps/contacts/" + (subtype ? subtype : "index") + ".html?ckind=" + dic.id)= dic.name