// Copyright (C) 2018-2022 Chatopera Inc, <https://www.chatopera.com>
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//  http://www.apache.org/licenses/LICENSE-2.0
// 
//  Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:th='http://www.thymeleaf.org', xmlns:sec='http://www.thymeleaf.org/thymeleaf-extras-springsecurity3')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='Cache-Control', content='no-siteapp')
        meta(name='viewport', content='width=device-width,maximum-scale=1,initial-scale=1,initial-scale=1,user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name="sourcecode-author", content="春松客服")
        meta(name="sourcecode-license", content="Apache 2.0")
        title 春松客服-多渠道智能客服
        link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico?t=1487250759056')
        link(rel='stylesheet', href='/js/ztree/zTreeStyle/zTreeStyle.css')
        link(rel='stylesheet', href='/css/flexboxgrid.min.css')
        link(rel='stylesheet', href='/css/layui.css')
        link(rel='stylesheet', href='/res/css.html')
        link(rel='stylesheet', href='/css/flexboxgrid.min.css')
        script(src='/js/jquery-1.10.2.min.js')
        script(src='/js/jquery.form.js')
        script(src='/js/ztree/jquery.ztree.all.min.js')
        script(src='/js/echarts.common.min.js')
        script(language='javascript', src='/js/theme/wonderland.js')
        script(src='/layui.js')
        script(src='/js/cskefu.js')
        if userExpTelemetry == 'on'
            script(src='https://www.googletagmanager.com/gtag/js?id=G-SBBX10RKTC' async)
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-SBBX10RKTC');
    body
        .layui-layout.layui-layout-content
            .layui-side.layui-bg-black
                .layui-side-scroll
                    include left
            .layui-body
                .layui-side-scroll
                    block content
            script.
                layui.use('element', function () {
                    var element = layui.element(); //导航的hover效果、二级菜单等功能，需要依赖element模块
                    //监听导航点击
                    element.on('nav(layui)', function (elem) {

                    });
                });
                
