extends /apps/entim/include/layout.pug

block content
    .ukefu-entim-point.ukefu-entim-msgbox(style='cursor: pointer;', onclick='top.closeentim();', title='展开')
        .expand(style='width: 100%;height: 100%;')
            i.layui-icon 
    style.
        .expand:hover {
            background: rgba(0, 0, 0, 0.2);
        }
