//- Copyright (C) 2023 Beijing Huaxia Chunsong Technology Co., Ltd. 
//- <https://www.chatopera.com>, Licensed under the Chunsong Public 
//- License, Version 1.0  (the "License"), https://docs.cskefu.com/licenses/v1.html
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//- Copyright (C) 2018-Jun. 2023 Chatopera Inc, <https://www.chatopera.com>
//- Licensed under the Apache License, Version 2.0
//- http://www.apache.org/licenses/LICENSE-2.0
extends /apps/entim/include/layout.pug

block content
    #ukefu-entim-skin.layui-layer-content
        ul.ukefu-entim-skin
            li
                img(src='/images/skin/1.jpg', data-color='#333333')
            li
                img(src='/images/skin/2.jpg', data-color='#ffffff')
            li
                img(src='/images/skin/3.jpg', data-color='#333333')
            li
                img(src='/images/skin/4.jpg', data-color='#ffffff')
            li
                img(src='/images/skin/5.jpg', data-color='#ffffff')
            li#defaultSkin(data-color='#333333')
                cite 默认
    script.
        $('#ukefu-entim-skin img').on("click", function () {
            parent.$("body").css('background-image', "url(" + $(this).attr('src') + ")").css('color', $(this).data("color"));
            parent.$("body a").css('color', $(this).data("color"));
        });
        $('#defaultSkin').on("click", function () {
            parent.$("body").css('background-image', '').css('color', $(this).data("color"));
            parent.$("body a").css('color', $(this).data("color"));
        });

