# https://docs.docker.com/compose/reference/envvars/#compose_file
# use Enterprise edition: docker-compose.yml:./private/docker-compose.ext.yml
# use other customize yml, copy docker-compose.yml as docker-compose.custom.yml
# and edit .env with COMPOSE_FILE=docker-compose.custom.yml, docker-compose.custom.yml
# is ignored with .gitignore
COMPOSE_FILE=docker-compose.yml
COMPOSE_PROJECT_NAME=cskefu_v8
