<div class="row" style="border-bottom: 1px solid #EFEFEF;padding:5px;">
	<div class="col-lg-12" style="padding-left:0px;position: relative;">
		<div class="ukefu-bt"> 
			<div class="layui-icon ukewo-btn ukefu-content-ind" style="width: 40px;height: 40px;">
				<img src="/images/setting.png"></div>
			<div class="ukefu-bt-text">
				<div class="ukefu-bt-text-title" style="font-weight:400;font-size:20px;">
					语音平台设置
				</div>
				<div class="ukefu-bt-text-content" style="">
					<span style="font-size:15px;color:#AAAAAA;">配置语音平台的网络服务信息，系统默认支持FreeSwitch服务，配置之前，请先安装FreeSwitch服务。 </span>
				</div>
				
			</div>
		</div>
		<div style="position: absolute;right: 20px;"> 
			<a class="layui-btn layui-btn-small layui-btn-danger" href="/apps/workorders/edit.html?id=6acddde4c8d246478073ae8b6644ebe9" data-toggle="tip" title="执行重载配置会是FreeSwitch执行资源重新加载动作，是否执行重载配置？">重载配置</a>
		</div>
	</div>
</div>
<h1 class="site-h1 ukefu-tab" style="height:26px;">
	<div class="ukefu-tab-title" style="margin-left:0px;">
		<ul class="tab-title" id="pbxHostTab">
			<li class="layui-this"><a href="/admin/callcenter/pbxhost.html" data-toggle="load" data-target="#callCenterContent">服务配置</a></li>
			<li><a href="/admin/callcenter/black.html" data-toggle="load" data-target="#callCenterContent">黑名单</a></li>
		</ul>					
	</div>
</h1>
<div id="callCenterContent" style="height:calc(100% - 105px);overflow-y:auto;">
	<#include "/admin/callcenter/pbxhost/index.html">
</div>
<script language="javascript"> 		
	$('#pbxHostTab li').on("click" , function(){
		$('#pbxHostTab li').removeClass("layui-this");
		$(this).addClass("layui-this");
	});		
</script>