//- Copyright (C) 2023 Beijing Huaxia Chunsong Technology Co., Ltd. 
//- <https://www.chatopera.com>, Licensed under the Chunsong Public 
//- License, Version 1.0  (the "License"), https://docs.cskefu.com/licenses/v1.html
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//- Copyright (C) 2018-Jun. 2023 Chatopera Inc, <https://www.chatopera.com>
//- Licensed under the Apache License, Version 2.0
//- http://www.apache.org/licenses/LICENSE-2.0
.row(style="border-bottom: 10px solid #EFEFEF;padding:10px;")
    .col-lg-8
        .ukefu-measure
            .ukefu-bt
                .layui-icon.ukewo-btn.ukefu-content-ind
                    img(src="/images/webim.png", style="width:60px;height:60px;")
                .ukefu-bt-text
                    .ukefu-bt-text-title(style="font-weight:400;font-size:24px;border-bottom:1px solid #dedede;")
                        | #{channel.name}
                        span(style="font-size:15px;color:#AAAAAA;") 接入网站创建时间：#{pugHelper.formatDate('yyyy-MM-dd HH:mm:ss', channel.createtime)}
                    .ukefu-bt-text-content(style="")= channel.name
.ukefu-tab-title(style="margin-left: 0px;")
    ul.tab-title
        .ukefu-tab-title(style="margin-left: 0px;")
            ul.tab-title
                li(class={'layui-this': subtype == 'webim'})
                    a(href="/admin/webim/index.html?snsid=" + channel.snsid) 基本设置
                li(class={'layui-this': subtype == 'invote'})
                    a(href="/admin/webim/invote.html?snsid=" + channel.snsid) 邀请设置
                li(class={'layui-this': subtype == 'profile'})
                    a(href="/admin/webim/profile.html?snsid=" + channel.snsid) 客服信息