<ul class="layui-nav layui-nav-tree" lay-filter="setting">
	<#if dataDicList??>
	    <#list dataDicList as dataDic>
		<li class="layui-nav-item layui-nav-itemed">
			<a class="layui-nav-title" href="javascript:;">${dataDic.name!''}</a>
			<dl class="layui-nav-child">
				<#if reportList?? && reportList.content??>
					<#list reportList.content as rpt>
					<#if rpt.dicid == dataDic.id>
					<dd <#if rpt?? && report?? && rpt.id == publishedReport.id>class="layui-this"</#if>>
						<a href="/apps/view/index.html?dicid=${dataDic.id!''}&id=${rpt.id!''}">${rpt.name!''}</a>
					</dd>
					</#if>
					</#list>
				</#if>
			</dl>
		</li>
	    </#list>
	</#if>
</ul>