//- Copyright (C) 2018-2022 Chatopera Inc, <https://www.chatopera.com>
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-  http://www.apache.org/licenses/LICENSE-2.0
//- 
//-  Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//-  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
.uk-layui-form
    form.layui-form(action="/admin/im/update.html", method="post")
        input(type="hidden", name="id", value=snsAccount.id)
        .layui-form-item
            .layui-inline
                label.layui-form-label(style="width:150px;") 组织机构：
                .layui-input-inline
                    input.layui-input(type="text", name="organ", required="", lay-verify="required", autocomplete="off",value="#{organ.name}",disabled="disabled")
                .layui-form-mid.layui-word-aux
                    font(color="red") *
                    |  默认为当前组织机构，在右上角切换
        .layui-form-item
            .layui-inline
                label.layui-form-label(style="width:150px;") 网站名称：
                .layui-input-inline
                    input.layui-input(type="text", name="name", value=snsAccount.name, required="", lay-verify="required", autocomplete="off")
                .layui-form-mid.layui-word-aux
                    font(color="red") *
                    |                    网站名称
        .layui-form-item
            .layui-inline
                label.layui-form-label(style="width:150px;") 网站地址：
                .layui-input-inline
                    input.layui-input(type="text", name="baseURL", value=snsAccount.baseURL, required="", lay-verify="required", autocomplete="off")
                .layui-form-mid.layui-word-aux
                    font(color="red") *
        .ukefu-imp-tips(style="margin-top:0px;padding: 0;width: 548px;text-align: ")
            | 网站信息填写后会根据网站的URL生成网站标识，URL中不包含http或https
        .layui-form-button
            .layui-button-block
                button.layui-btn(lay-submit="", lay-filter="formDemo") 立即提交
                button.layui-btn.layui-btn-original(type="reset") 重置
script.
    layui.use('form', function () {
        var form = layui.form();
        form.render(); //更新全部
    });
    layui.use('element', function () {
        var element = layui.element();
    });
