<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <#include "/apps/callout/include/left.html">
    </div>
</div>
<div class="layui-body" style="background-color: #f2f2f2;">
    <div class="layui-side-scroll">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="site-h1" style="border-top:1px solid #e6e6e6;border-right:1px solid #e6e6e6;">
                    业务概况
                </h1>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="uk-measure uk-border">
                            <div class="uk-measure-header">
                                营销任务
                                <span class="uk-badge layui-bg-blue" title="总数">总数</span>
                            </div>
                            <div class="uk-measure-body">
                                <div class="ukefu-measure-title">
                                    <a href="/apps/callout/names/notcallout.html">
                                        0
                                    </a>
                                </div>
                                <div class="ukefu-bt-text-content">
                                    正在进行
                                    <span style="float:right;">
										<a href="/apps/callout/names/alcallout.html">
										0
										</a>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="uk-measure uk-border">
                            <div class="uk-measure-header">
                                电话呼出统计
                                <span class="uk-badge" title="正在呼出">正在呼出</span>
                            </div>
                            <div class="uk-measure-body">
                                <div class="ukefu-measure-title">
                                    <a href="/apps/callout/names/notcallout.html">
                                        0
                                    </a>
                                </div>
                                <div class="ukefu-bt-text-content">
                                    今日已呼出
                                    <span style="float:right;">
										<a href="/apps/callout/names/alcallout.html">
										0
										</a>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="uk-measure uk-border">
                            <div class="uk-measure-header">
                                短信发送统计
                                <span class="uk-badge" title="正在发送">正在发送</span>
                            </div>
                            <div class="uk-measure-body">
                                <div class="ukefu-measure-title">
                                    <a href="/apps/callout/names/alcallout.html">
                                        0
                                    </a>
                                </div>
                                <div class="ukefu-bt-text-content">
                                    今日已发送
                                    <span style="float:right;">
										<a href="/apps/callout/names/calloutfaild.html">
										0
										</a>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>