//- Copyright (C) 2018-2023 Chatopera Inc, <https://www.chatopera.com>
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-  http://www.apache.org/licenses/LICENSE-2.0
//- 
//-  Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//-  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='Cache-Control', content='no-siteapp')
        meta(name='viewport', content='width=device-width,maximum-scale=1,initial-scale=1,initial-scale=1,user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        title 信息录入
        link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico?t=1489039620156')
        link(rel='stylesheet', type='text/css', href='/im/css/ukefu.css')
        link(rel='stylesheet', type='text/css', href='/im/css/layui.css')
        link#skin(rel='stylesheet', type='text/css', href='/im/css/default/ukefu.css')
    body(style='overflow:hidden;',class={'ukefu-point-text': type == 'text'})
        - var action=(schema?schema:'http')+'://'+hostname+(cskefuport!=80?':'+cskefuport:'')+'/im/index.html?userid='+userid+'&ai=false&appid='+appid+'&aiid='+aiid+'&client='+client+'&type=text'+(skill?'&skill='+skill:'')+(agent?'&agent='+agent:'')+(sessionid?'&sessionid='+sessionid:'')
        form(action=action, method='post')
            .large.ukefu-im-theme(class=(type = 'text' ? 'ukefu-theme-border-' + inviteData.consult_dialog_color : ''))
                #containter.clearfix
                    #header(class='theme' + inviteData.consult_dialog_color)
                        - var dialog_logo=inviteData.consult_dialog_logo?'/res/image.html?id='+inviteData.consult_dialog_logo:'/images/logo.png'
                        img(src=dialog_logo, style='height:30px;padding:10px;')
                    .ukef-leavemsg-tip(style='width: 100%;max-width: 550px')
                        if inviteData.consult_info_message
                            | #{inviteData.consult_info_message}
                    .leaveCon(style='width: 100%;max-width: 550px')
                        if inviteData.consult_info_name == true
                            div(class="layui-form-item ukefu-form-item")
                                label(class="layui-form-label ukefu-form-label", style="width:100%;text-align:left;")
                                    | 您的姓名：
                                    font(color="red") *（必填项）
                                div(class="layui-input-block", style="margin-left: 15px;")
                                    input(type="text", name="name", class="layui-input", required="required", maxlength="50")
                        if inviteData.consult_info_phone == true
                            div(class="layui-form-item ukefu-form-item")
                                label(class="layui-form-label ukefu-form-label", style="width:100%;text-align:left;")
                                    | 您的电话
                                    font(color="red") *（必填项）
                                div(class="layui-input-block", style="margin-left: 15px;")
                                    input(type="text", class="layui-input", name="phone", required="required", maxlength="30")
                        if inviteData.consult_info_email == true
                            div(class="layui-form-item ukefu-form-item")
                                label(class="layui-form-label ukefu-form-label", style="width:100%;text-align:left;")
                                    | 您的邮箱：
                                    font(color="red") *（必填项）
                                div(class="layui-input-block", style="margin-left: 15px;")
                                    input(type="text", class="layui-input", name="email", maxlength="100")
                        if inviteData.consult_info_resion == true
                            div(class="layui-form-item ukefu-form-item")
                                label(class="layui-form-label ukefu-form-label", style="width:100%;text-align:left;")
                                    | 您需要咨询的问题：
                                div(class="layui-input-block", style="margin-left: 15px;")
                                    textarea(class="layui-textarea", style="position: relative; overflow: hidden;", name="memo", maxlength="240")
                        p(class="submitBtnWrap")
                            input(type="submit", class="btn submitBtn theme" + inviteData.consult_dialog_color, value="开始咨询")
