<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport"
			content="width=device-width, maximum-scale=1.0, initial-scale=1.0,initial-scale=1.0,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	    <title>在线咨询</title>
	    
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico?t=1489039620156"/>
	    <link rel="stylesheet" type="text/css" href="/im/css/ukefu.css">
	    <link rel="stylesheet" id="skin" type="text/css" href="/im/css/default/ukefu.css">
	</head>
	<body style="overflow:hidden;" class="<#if type?? && type='text'>ukefu-point-text</#if>">
		<script language="javascript">
			alert("留言已记录，感谢！");
			window.close();
		</script>
	</body>
</html>