doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='Cache-Control', content='no-siteapp')
        meta(name='viewport', content='width=device-width,maximum-scale=1,initial-scale=1,initial-scale=1,user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        title 在线咨询
        link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico?t=1489039620156')
        link(rel='stylesheet', type='text/css', href='/im/css/ukefu.css')
        link#skin(rel='stylesheet', type='text/css', href='/im/css/default/ukefu.css')
    body(class={'ukefu-point-text': type == 'text'},style='overflow:hidden;')
            .large.ukefu-im-theme(class="ukefu-theme-border-" + (type = 'text' ? inviteData.consult_dialog_color : ''))
                #containter.clearfix
                    - var dialog_logo=inviteData.consult_dialog_logo?'/res/image.html?id='+inviteData.consult_dialog_logo:'/images/logo.png'
                    #header(class='theme' + inviteData.consult_dialog_color)
                        img(src=dialog_logo, style='height:30px;padding:10px;')
                    .ukef-leavemsg-tip(style='padding-left: 15px;text-align: center;') 没有坐席在线，请稍后再试.
                        