if channelVisitorWebimTelemetry && channelVisitorWebimTelemetry == 'on'
    script(src='https://www.googletagmanager.com/gtag/js?id=G-N2HW32VXFV' async)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-N2HW32VXFV');