.uk-layui-form
    form.layui-form.uk-form(action='/admin/role/update.html')
        input(type='hidden', name='id', value=roleData.id)
        .layui-form-item
            label.layui-form-label 坐席组：
            .layui-input-inline
                input.layui-input(type='text', name='name', required, lay-verify='required_name', value=roleData.name, placeholder='请输入坐席组名称', autocomplete='off')
        .layui-form-button
            .layui-button-block
                button.layui-btn(lay-submit, lay-filter='formDemo') 立即提交
                button.layui-btn.layui-btn-original(type='reset') 重置
script.
    //Demo
    layui.use('form', function () {
        var form = layui.form();
        form.verify({
            required_name: function (value) {
                if (value.length > 50) {
                    return "角色名称不能超过50字";
                }
            }
        });
    });
            
