//- Copyright (C) 2023 Beijing Huaxia Chunsong Technology Co., Ltd. 
//- <https://www.chatopera.com>, Licensed under the Chunsong Public 
//- License, Version 1.0  (the "License"), https://docs.cskefu.com/licenses/v1.html
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//- Copyright (C) 2018-Jun. 2023 Chatopera Inc, <https://www.chatopera.com>
//- Licensed under the Apache License, Version 2.0
//- http://www.apache.org/licenses/LICENSE-2.0
.uk-layui-form
    form.layui-form.uk-form(action='/admin/role/update.html')
        input(type='hidden', name='id', value=roleData.id)
        .layui-form-item
            label.layui-form-label 坐席组：
            .layui-input-inline
                input.layui-input(type='text', name='name', required, lay-verify='required_name', value=roleData.name, placeholder='请输入坐席组名称', autocomplete='off')
        .layui-form-button
            .layui-button-block
                button.layui-btn(lay-submit, lay-filter='formDemo') 立即提交
                button.layui-btn.layui-btn-original(type='reset') 重置
script.
    //Demo
    layui.use('form', function () {
        var form = layui.form();
        form.verify({
            required_name: function (value) {
                if (value.length > 50) {
                    return "角色名称不能超过50字";
                }
            }
        });
    });
            
