
/*
.uk-overflow-container {    
    overflow-y: scroll;
    top: 0;
    bottom: 0;


}*/
table {
    min-width: 100%
}

.video-js {
    min-width:100%; 
    max-width:100%;
    max-height: 100%;
}

.vjs-fullscreen {
    padding-top: 0px
}

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}


.uk-overflow-container  {
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

em {
    color:#666;
}


