<div class="uk-layui-form">
	<form class="layui-form" action="/admin/template/impsave.html" enctype="multipart/form-data"  method="post">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">数据文件：</label>
				<div class="layui-input-inline">
					<div class="layui-box layui-upload-button">
						<input type="file" name="dataFile" required lay-verify="required"
							class="layui-upload-file"
							onchange="$('#dataFile').html($(this).val());"> <span
							class="layui-upload-icon"><i class="layui-icon"></i>上传系统模板数据文件</span>
					</div>
				</div>
			</div>
			<div class="layui-inline">
				<font color="red">*（必填项）</font> (需要导入的系统模板数据文件，data格式文件)
			</div>
		</div>

		<div class="layui-form-item" style="height:40px;line-height:40px;">
			<div class="layui-inline">
				<label class="layui-form-label"></label>
				<div class="layui-input-inline" style="width:500px;" id="dataFile">

				</div>
			</div>
		</div>

		<div class="layui-form-button">
			<div class="layui-button-block">
				<button class="layui-btn" lay-submit lay-filter="formDemo">立即导入</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<script>
	layui.use('upload', function(){
		var target = $(this).attr("data-target");
	});
	layui.use('form', function(){
	  var form = layui.form();
	  form.render();
	});
</script>