<div class="row">
	<div class="col-lg-12">
		<h1 class="site-h1" style="background-color:#FFFFFF;">
			系统模板
			<span style="float:right;">
				<button class="layui-btn layui-btn-small green" href="/admin/template/imp.html" data-toggle="ajax" data-width="750" data-height="220" data-title="导入系统模板">
					<i class="kfont">&#xe641;</i>
					导入系统模板
				</button>
				<a class="layui-btn layui-btn-small green" href="/admin/template/expall.html" target="_blank">
					<i class="kfont">&#xe672;</i>
					导出系统模板
				</a>
			</span>
		</h1>
		<div class="row" style="padding:5px;">
			<div class="col-lg-12">
				<table class="layui-table" lay-skin="line">
				  <colgroup>
						<col width="15%">
						<col width="20%">
						<col width="20%">
					<col>
				  </colgroup>
				  <thead>
					<tr>
					  <th>分类名称</th>
					  <th>分类代码</th>
					  <th>创建时间</th>
					</tr> 
				  </thead>
				  <tbody>
					<#if sysDicList??>
					<#list sysDicList as dic>
					<tr>
					  <td>
					  	  <a href="/admin/template/list.html?type=${dic.id!''}">${dic.name!''}</a>
					  </td>
					  <td>${dic.code!''}</td>
					  <td><#if dic.createtime??>${dic.createtime?string("yyyy-MM-dd HH:mm:ss")}</#if></td>
					</tr>
					</#list>
					</#if>
				  </tbody>
				</table>
			</div> 	   
		</div>
	</div>	
</div>