<div class="row">
	<div class="col-lg-12">
		<h1 class="site-h1" style="background-color:#FFFFFF;">
			${sysDic.name!''} 分类模板
			<span style="float:right;">
				<button class="layui-btn layui-btn-small green" href="/admin/template/add.html?type=${sysDic.id!''}" data-toggle="ajax" data-width="700" data-height="350" data-title="创建新模板">
					创建新模板
				</button>
			</span>
		</h1>
		<div class="row" style="padding:5px;">
			<div class="col-lg-12">
				<table class="layui-table" lay-skin="line">
				  <colgroup>
						<col width="15%">
						<col width="20%">
						<#if sysDic.ctype == "layout">
						<col width="10%">
						</#if>
						<col width="10%">
						<col width="1%">
					<col>
				  </colgroup>
				  <thead>
					<tr>
					  <th>模板名称</th>
					  <th>创建时间</th>
					  <#if sysDic.ctype == "layout">
					  <th>列数</th>
					  </#if>
					  <th>模板内容</th>
					  <th style="white-space:nowrap;" nowrap="nowrap">操作</th>
					</tr> 
				  </thead>
				  <tbody>
					<#if templateList??>
					<#list templateList as template>
					<tr>
					  <td>
					  	  <a href="/admin/template/code.html?type=${sysDic.id!''}&id=${template.id!''}" data-width="750" data-height="450" data-toggle="ajax" title="编辑${template.name!''}">${template.name!''}</a>
					  </td>
					  <td><#if template.createtime??>${template.createtime?string("yyyy-MM-dd HH:mm:ss")}</#if></td>
					  
					  <#if sysDic.ctype == "layout">
					  <td>${template.layoutcols}</th>
					  </#if>
					  <td>
					  	<#if template.templettext??>
					  		<i class="layui-icon" style="color:#19a55d;">&#xe618;</i>
					  	</#if>
					  </td>
					  <td style="white-space:nowrap;" nowrap="nowrap">
							<a href="/admin/template/edit.html?type=${sysDic.id!''}&id=${template.id!''}" data-width="750" data-height="350" data-toggle="ajax" title="编辑${template.name!''}">
								<i class="layui-icon">&#xe642;</i>
								编辑
							</a>
							<a href="/admin/template/delete.html?templettype=${sysDic.id!''}&id=${template.id!''}" data-toggle="tip" data-title="请确认是否系统模板“${template.name!''}”？">
								<i class="layui-icon" style="color:red;">&#x1006;</i>
								删除
							</a>
					  </td>
					</tr>
					</#list>
					</#if>
				  </tbody>
				</table>
			</div> 	   
		</div>
	</div>	
</div>